

.contenedorNav{
    display:flex;
    justify-content: space-around; 
    background-color: transparent;
 align-items: center;
 padding: 0 4vh;

margin-top: 1.4rem;
    
}

.aNavbar{
    padding: 3rem 1rem 1rem 1rem;
    text-decoration: none;
    font-size: 1.4rem;
    color: white;
    cursor: pointer;
    
}

.contenedor_redes{display: flex;
 gap: 0.4rem;
}
.redes{
    padding: 0.5rem;
    color: white;
    font-size: 2rem;
    cursor: pointer;
   
}

.aNavbar:hover{
    padding-top: 3.6rem;
    background-color: var(--colorPrimario);
}
.redes_hover{
    background-color: transparent;
    border: 2px solid transparent;
}

.redes_hover:hover{transform: scale(1.4);
}


.Logo{
    margin-left: 2rem;


}